.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.signup-box {
  border-radius: 24px;
  background-color: #F3F2F0;
  display: flex;
}

.container {
  padding: 12em;
}

.align-item {
  align-items: center;
  margin-top: 10em;
}


.h2 {
  font-size: 3.4em;
  text-align: left;
  margin-left: 69px;
}

.signup-button {
  background-color: #3525E6;
  height: 3em;
  width: 10em;
  text-align: center;
  padding-top: 21px;
  border-radius: 1px 19px 19px 2px;
  color: #FFFFFF;
}

.input {
  height: 67px;
  width: 30em;
  border-radius: 21px 0px 0px 20px;
  border: none;
}

.signup-input-box {
  display: flex;
  margin-left: 70px;
}

.p-text {
  font-size: 23px;
  text-align: left;
  margin-left: 72px;
  width: 25em;
}

::placeholder {
  font-size: 20px;
  color: grey;
  padding: 5px;
  padding-left: 30px !important;
}